html {
    overflow-y:scroll;
}

body{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10vw;
    font-size: 30px;
}

li{
    margin: 10px 0px;
}

a{
    color: white;
    background-color: black;
    padding: 2px 5px;
    transition: 0.3s;
}

a:hover{
    background-color: darkslategrey;
}

i{
    font-size: 20px;
}

.header{
    font-size: 70px;
    font-weight: bold;
    margin: 50px 0px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    display: inline-block;
}

#content{
    margin-left: 40px;
}

.header.subheader{
    font-size: 50px;
    margin: 20px 0px;
}

.header.subheader::before{
    content: "\2022";
    padding-right: 10px;
}

.subitem{
    margin-left: 50px;
    margin-bottom: 30px;
}

#cv{
    background-color: black;
    color: white;
    user-select: none;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.2s;
}

#cv:hover{
    cursor: pointer;
    background-color:red;
    transform: scale(1.02);
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    border: 2px solid black;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 2px solid black;
    background: grey;
  }